<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img width="1800" height="100" src="/img/logo-mercado-liebre.svg">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis Compras</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2><strong>Basado en tu última visita</strong></h2>

            <img width="300" height="300" src="/img/img-cafetera-moulinex.jpg" alt="cafetera molinex">
            <p>$ 6.5000</p>
            <p>% 20 OFF</p>
            <p>Cafetera Moulinex</p>

            <img width="300" height="280" src="img/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
            <p>$ 32.5000</p>
            <p>Samsung Smart TV</p>

        </section>
        <section>
            <h2><strong>Sección de Ofertas</strong></h2>
            <img width="300" height="300" src="/img/img-macbook-pro-2019.jpg" alt="Macbook Pro">
            <p>$ 206.5000</p>
            <p>% 5 OFF</p>
            <p>Macbook Pro 2019</p>

            <img width="300" height="300" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
            <p>$ 80.5000</p>
            <p>% 15 OFF</p>
            <p>Samsung Galaxy S10</p>

        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con efectivo</h3>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>
        <section>
            <h3>Envío gratis desde $2.500</h3>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>


    </footer>
</body>
</html>