<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" >    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/13ecfebe84.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="header" >
      
        <div class="logo-busqueda">
            <div class="logo-home">
                <img  src="/img/logo-mercado-liebre.svg">
            </div>
            <div class="Barra-búsqueda">
                <input type="text" placeholder="Buscar productos, marcas"> <button class="form-control fa fa-search" aria-hidden="true"></button>  
            </div>  
            <div class="copy-header">
                <p>Comprá en cuotas y sin tarjeta de crédito</p><i class="fa fa-hand-holding-usd"></i>
            </div>
            
        </div>
           
    
        <a href="#" class="hamburguer-button">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="navbar-left">
                <li class="navbar-left-1"><a href="#">Ofertas</a></li>
                <li class="navbar-left-2"><a href="#">Tiendas Oficiales</a></li>
                <li class="navbar-left-3"><a href="#">Vender</a></li>
                <li class="navbar-left-4"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-right">
                <li class="navbar-right-1"><a href="#">Creá tu cuenta</a> <i class="fa fa-id-card"></i></li>
                <li class="navbar-right-2"><a href="#">Ingresá</a> <i class="fa fa-user-circle"></i></li>
                <li class="navbar-right-3"><a href="#">Mis Compras</a> <i class="fa fa-shopping-basket"></i> </li>
            </ul>
        </nav>
        <br>
        </div>
    </header>
    <main>
        <form action="xxx" method="POST">
            <section class="form-registro">
                <h2>Registro</h2>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre y Apellido">
                <input class="controls" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Email">
                <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
                <h3>
                    <p>Fecha de Nacimiento</p>
                </h3>
                <input class="controls" id="date" type="date">
                <input class="controls" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">

                <h3>Perfil de Usuario</h3>
                <div class="perfil-usuario">
                    
                    <input class="radio-button" type="radio" id="comprador" name="comprador" value="Comprador">
                    <label for="comprador">Comprador</label><br>
                    <input class="radio-button" type="radio" id="vendedor" name="vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label><br>
                </div>
                <h3>Intereses</h3>
                <div class="intereses">
                    <input class="checkbox" type="checkbox" name="Electro" id="Electro" value="Electro">
                    <label for="Electro">Electro</label><br>
                    <input class="checkbox" type="checkbox" name="Moda" id="Moda" value="Moda">
                    <label for="Moda">Moda</label><br>
                    <input class="checkbox" type="checkbox" name="Hogar" id="Hogar" value="Hogar">
                    <label for="Hogar">Hogar</label><br>
                    <input class="checkbox" type="checkbox" name="Moda" id="Moda" value="Moda">
                    <label for="Moda">Juguetería</label><br>
                    <input class="checkbox" type="checkbox" name="vida sana" id="vida sana" value="vida sana">
                    <label for="vida sana">Vida Sana</label><br>
                </div>

                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="/login">¿Ya tengo Cuenta?</a></p>
            </section>
            </form> 
    </main>

</body>